*{
  font-family: "Times New Roman"  ;
}

body{
    margin: 0px 0px 20px 0px;
}

nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: rgb(238, 238, 238);
    color: black;
    padding: 0px 0px 0px 30px;  
    border-top: 1.5px solid rgb(191,191,191);
    /* text-align:left;  */
}

nav li {
    display: inline-block;
    margin-right: 50px;
    /* flex-grow: 1; */
}

h1 {
    background-color: rgb(204, 221, 238);
    color: black;
    padding: 80px ;
    border: 0px ;
    margin: 0px auto 0px;
    /* width: 200p; */
    /* font-size: 1.5rem; */
    text-align: center;
}

h2 {
    /* background-color: lightcyan; */
    padding: 20px 0px 20px 0px;
    /* background-color: white; */
    color: black;
    border: 0px ;
    margin: 0px auto 0px;
    /* width: 200p; */
    /* font-size: 1rem; */
    text-align: center;  
}

.content_box {
    flex-direction: row;
    list-style: none;
    display: grid;
    padding: 0% 10%;
    grid-template-columns: auto auto; /* set column sizes here */
    grid-template-rows: auto ; /* we want two rows */
    grid-gap: 20px; /* how far between cells? */
    grid-auto-flow:row; /* fill in by column, not row */
    /* temporary property for visualization */
    height: 300px;
    /* flex-direction:; */
    /* vertical-align: auto; */
}

.box {
    border: 0.5px solid rgb(184, 194, 204);
    padding: 10px 0 0 0;
    background-color: rgb(136, 153, 170);;
    text-align: center;
}

p.action{
    background-color: rgb(204, 221, 238);
    padding: 10px 10px ;
    border: 0px ;
    margin: 25px auto 0px;
    width: 100px;
    /* font-size: .3rem; */
    text-align: center;
}