input.text_bar {
  width:25%;
  border:2px, solid, #aaa;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing: border-box;
}

#result {
  font-size: medium;
  color:blue;
}
