{% extends "layout.html" %}
<head>
    {%block title%}Home Page{%endblock%}
    <link rel="stylesheet" href="../static/style.css">
</head>
{%block content%}
<!-- <input id="user_signup_id" type="text" name="user_id" placeholder="Enter id"> -->
<h3 class="nav">I'm new here!</h3>
<input id="user_signup_email" type="text" name="user_email" placeholder="Enter email">
<input id="user_signup_password" type="text" name="user_password" placeholder="Enter password">
<input id="user_signup_check_password" type="text" name="user_password" placeholder="Check your password">
<button id="sign_up_botton" type="button" name="sign_up" value="Sign up">Sign up</button>
<p id="notice"></p>

<!-- <input id="user_signin_id" type="text" name="user_id" placeholder="Enter id"> -->
<h3 class="nav">Already a member?</h3>
<input id="user_signin_email" type="text" name="user_email" placeholder="Enter email">
<input id="user_signin_password" type="text" name="user_password" placeholder="Enter password">
<button id="sign_in_botton" type="button" name="sign_in" value="Sign in">Sign in</button>
{%endblock%}

{%block scripts%}
<script src="/static/script.js"></script>
{%endblock%}